@model IEnumerable<AuctionSystem.Models.Auction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuctionTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuctionDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuctionDateAdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuctionPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuctionShortDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuctionTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuctionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuctionDateAdd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuctionPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuctionShortDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuctionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuctionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuctionID })
        </td>
    </tr>
}

</table>
